
.mid{
    width:1010px;
    margin:80px auto;
    border:2px solid #BDBDBD;
    border-radius: 5px;
    background:#ffffff;
    text-align: center;
}
.tab1{
    width: 973px;
    /*border: 1px solid #EE7419;*/
    margin-left:18px;
    margin-bottom: 5px;
    border-collapse:collapse;/*表格边框合并为一条*/
    border:none;
}
.tab1 td{
    width:240px;
   /* border:1px solid #BDBDBD;*/
}
.tab1 tr{
    height:50px;
}
.title{
    width:973px;
    height:50px;
    color:black;
    font-size: 2.4rem;
    font-size:24px;
}
.content td{
    border-bottom: 1px solid #BDBDBD;
}
